<html>
    <head>
    </head>
    <body>
        <div>
            <form action="/bmi/" target="_blank">
                <label>age:</label>
                <input type="number" placeholder="Enter your AGE"><br><br>
                <label>height:</label>
                <input type="number" placeholder="Enter your Height"><br><br>
                <label>weight:</label>
                <input type="number" placeholder="Enter your Weight"><br><br>
                <button type="submit" name="button"><a href="/bmi/">Submit</a></button>
    </body>
</html>