<html>
    <head>
        <style>
            body{
                background-color: ghostwhite;
            }
            h1{
                color: orangered;
                text-align: center;
            }
            h2{
                color: orangered;
            }
            img{
                height: 55%;
                width: 97%;
            }
            div.center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            footer {
                text-align: bottom ;
                padding: 3px;
                background-color: black ;
                color: white;
        
            }
        </style>
    </head>
    <body>
        <h1><strong>The Best 7-Day Indian Diet Chart To Lose Weight</strong></h1>
        <div class="center"><img src="/static/images/weight loss.jpeg"></div>
        <div class="center">
            <ul>
                <li><h2>Monday</h2></li>
                <P>
                   <strong>Breakfast:</strong> Sambhar with 2 brown rice idli/ Paneer sandwich with mint chutney.<br>
                   <strong>Lunch:</strong> Whole-grain roti with mixed-vegetable curry with one dal.<br>
                   <strong>Dinner:</strong> Tofu/chicken curry with mixed vegetables and a fresh spinach salad/chicken gravy with 2 multigrain rotis.
                </P>
                <li><h2>Tuesday</h2></li>
                <p>
                    <strong>Breakfast:</strong> Chana dal pancakes with mixed vegetables and a glass of milk/ bread and egg with fruits.<br>
                    <strong>Lunch:</strong> Chickpea curry with brown rice/ Brown rice with dal.<br>
                    <strong>Dinner:</strong> Khichdi with sprout salad/Veg paratha with raita.
                </p>
                <li><h2>Wednesday</h2></li>
                <p>
                    <strong>Breakfast:</strong> Apple cinnamon porridge/ Vegetable uttapam with sambhar.<br>
                    <strong>Lunch:</strong> Whole-grain roti with tofu/ non veg and mixed vegetables.<br>
                    <strong>Dinner:</strong> Palak paneer with brown rice and vegetables/ 2 Multigrain rotis with chicken and curd.
                </p>
                <li><h2>Thursday</h2></li>
                <p>
                    <strong>Breakfast:</strong> Yogurt with sliced fruits and sunflower seeds/ vegetable poha.<br>
                    <strong>Lunch:</strong> Whole-grain roti with vegetable sabzi/ Dal with veg or non veg sabzi and brown rice.<br>
                    <strong>Dinner:</strong> Chana masala with basmati rice and green salad/ One bowl of fruits and vegetables with multigrain rotis.
                </p>
                <li><h2>Friday</h2></li>
                <p>
                    <strong>Breakfast:</strong> Vegetable dalia and a glass of milk/ 3-4 dal paddu with sambar.<br>
                    <strong>Lunch:</strong> Vegetable sambar with brown rice/ 2 multigrain roti with veg/non veg curry.<br>
                    <strong>Dinner:</strong> Tofu curry with potatoes and mixed vegetables/ chicken curry with 2 multigrain rotis.
                </p>
                <li><h2>Saturday</h2></li>
                <p>
                    <strong>Breakfast:</strong> Multigrain parathas with avocado and sliced papaya/ dal paratha with mixed vegetables.<br>
                    <strong>Lunch:</strong> Large salad with rajma curry and quinoa/ one bowl mixed vegetable kadai.<br>
                    <strong>Dinner:</strong> Lentil pancakes with tofu tikka masala/ green salad with mixed vegetables and multigrain roti.
                </p>
                <li><h2>Sunday</h2></li>
                <p>
                    <strong>Breakfast:</strong> Buckwheat porridge with sliced mango/ fruit salad with a glass of milk.<br>
                    <strong>Lunch:</strong> Vegetable soup with whole-grain roti/ one bowl millet and dal khichdi with multigrain roti.<br>
                    <strong>Dinner:</strong> Masala-baked tofu with vegetable curry/ non veg curry (chicken, seafood) with multigrain roti.
                </p>
            </ul>
        </div>
        <footer role="contentinfo">
            <div>
                Mail us:
                <a href="mailto:raghavagarwal876@gmail.com">raghavagarwal876@gmail.com</a>
            </div>
            <div>
            <p style="text-align: right;">Contact us:<br><br>
                        Raghav Das Singhal: <a href="tel:+8562874287"> 8562874287</a><br><br>
                        Tarun Chaudhary: <a href="tel:+8058800887"> 8058800887</a><br><br>
                        Samprass Gotherwaal: <a href="tel:+8079028460"> 8079028460</a><br><br>
            </p>
            </div>
        </footer>
    </body>
</html>