<html>
    <head>
        <style>
            h1{
                text-align: center;
                color: black;
            }
            body{
                background-color: ghostwhite;
            }
            img{
                height: 48%;
                width: 97%;
            }
            div.center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            div.desc {
                padding: 15px;
                text-align: left;
            }
            footer {
                text-align: bottom;
                padding: 3px;
                background-color: black ;
                color: white;
        
            }
        </style>
    </head>
    <body>
        <h1>Exercises for weight gain</h1><br><br>
        <div class="center">
        <div class="desc"><h2>1. Pullups</h2></div>
        <a href="/static/images/pullups.jpg"> <img src="/static/images/pullups.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Grip the pullup bar with both hands. Your palms should face away from you. Keep your arms shoulder-width apart.<br>
            <strong>Step 2:</strong> Pull yourself up enough to hang off the bar so that your feet aren’t touching the ground and your arms are straight.<br>
            <strong>Step 3:</strong> Continue to pull yourself up until your chin is above the bar.<br>
            <strong>Step 4:</strong> Slowly lower yourself down so that your arms are straight again.<br>
            <strong>Step 5:</strong> Repeat as many times as you want.<br>
        </p></div>
        <div class="desc"><h2>2. Squats</h2></div>
        <a href="/static/images/squats.jpg"> <img src="/static/images/squats.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Stand up straight so that your feet are hips-width distance apart.<br>
            <strong>Step 2:</strong> Put your hands on your hips and flex your abdominal muscles.<br>
            <strong>Step 3:</strong> Begin lowering yourself down using only your legs, as if you’re about to sit down, and get into a seated position until your thighs are parallel to the ground. Keep your upper body as still as possible.<br>
            <strong>Step 4:</strong> Raise yourself back up to your original position.<br>
            <strong>Step 5:</strong> Repeat as many times as you want or you can.<br></p></div>
        <div class="desc"><h2>3. Lunges</h2></div>
        <a href="/static/images/lunges.jpg"> <img src="/static/images/lunges.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Stand up straight, flexing your abdominal muscles.<br>
            <strong>Step 2:</strong> Extend one leg like you’re taking a step, then lean forward like you’re kneeling until your knees are at 90-degree angles.<br>
            <strong>Step 3:</strong> Push back on your heel to lift yourself back up to your initial position.<br>
            <strong>Step 4:</strong> Repeat as many times as you feel comfortable on one leg.<br>
            <strong>Step 5:</strong> Repeat for the other leg.<br>
        </p></div>
        <div class="desc"><h2>4. Bench Press</h2></div>
        <a href="/static/images/benchpress.jpg"> <img src="/static/images/benchpress.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Lie on your back on the bench. If the bench has a rack for the bar, face the bar. If there’s no rack, hold the bar carefully and slowly lie backward on the bench until you’re comfortable.<br>
            <strong>Step 2:</strong> If there’s a rack, grab the bar with both hands, including your thumbs. Feel free to spread your fingers a bit.<br>
            <strong>Step 3:</strong> Extend your arms to take the bar out of the rack.<br>
            <strong>Step 4:</strong> Slowly lower your arms to bring the bar down to your chest.<br>
            <strong>Step 5:</strong> Slowly straighten your arms and raise the bar back toward the rack. If there’s no rack, make sure you have the strength to sit back up after you’re done.<br>
            <strong>Step 6:</strong> Repeat steps 4 and 5 as many times as you feel comfortable.<br>
        </p></div>
        <div class="desc"><h2>5. Push-Ups</h2></div>
        <a href="/static/images/pushups.jpg"> <img src="/static/images/pushups.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> 
            Get down on all fours, placing your hands slightly wider than your shoulders.<br>
            <strong>Step 2:</strong> Straighten your arms and legs.<br>
            <strong>Step 3:</strong> Lower your body until your chest nearly touches the floor.<br>
            <strong>Step 4:</strong> Pause, then push yourself back up.<br>
        </p></div>
        <div class="desc"><h2>6. Overhead press</h2></div>
        <a href="/static/images/overhead_press.jpg"> <img src="/static/images/overhead_press.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Grip the bar with your hands about shoulder-width apart.<br>
            <strong>Step 2:</strong> Lift the bar up to just above the front of your chest, even with your shoulders.<br>
            <strong>Step 3:</strong> Slowly lift the bar above you until your arms are straight. Keep your elbows locked and raise your shoulders like you’re shrugging.<br>
            <strong>Step 4:</strong> Slowly lower the bar back to shoulder height.<br>
            <strong>Step 5:</strong> Repeat steps 3 and 4 as many times as comfortable.<br>
        </p></div>
        </div>
        <footer role="contentinfo">
            <div>
                <p>Mail us:
                <a href="mailto:raghavagarwal876@gmail.com">raghavagarwal876@gmail.com</a>
            </p>
            </div>
            <div>
                <p>Contact us:<br><br>
                        Raghav Das Singhal: <a href="tel:+8562874287"> 8562874287</a><br><br>
                        Tarun Chaudhary: <a href="tel:+8058800887"> 8058800887</a><br><br>
                        Samprass Gotherwaal: <a href="tel:+8079028460"> 8079028460</a><br><br>
            </div>
        </footer>
    </body>
</html>