<html>
    <head>
        <style>
            h1{
                text-align: center;
                color: black;
            }
            body{
                background-color: ghostwhite;
            }
            img{
                height: 48%;
                width: 97%;
            }
            div.center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            div.desc {
                padding: 15px;
                text-align: left;
            }
            footer {
                text-align: bottom ;
                padding: 3px;
                background-color: black ;
                color: white;
        
            }
        </style>
    </head>
    <body>
        <h1>Exercises for weight loss</h1><br><br><br>
        <div class="center">
        <div class="desc"><h2>1. Planks</h2></div>
        <a href="/static/images/plank.jpg"> <img src="/static/images/plank.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Position your elbows directly beneath your shoulders.<br>
            <strong>Step 2:</strong> Make and maintain a straight body line from head to heels.<br>
            <strong>Step 3:</strong> Squeeze your butt and the fronts of your thighs.<br>
            <strong>Step 4:</strong> Brace your abs like you're going to take a punch.<br>
            <strong>Step 5:</strong> Advance the exercise.<br></p></div>
        <div class="desc"><h2>2. Bicycle Crunch</h2></div>
        <a href="/static/images/bicycle-crunch.jpg"> <img src="/static/images/bicycle-crunch.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Lie flat on the floor with your lower back pressed to the ground (pull your navel in to also target your deep abs).<br>
            <strong>Step 2:</strong> Put your hands behind your head, then bring your knees in towards your chest and lift your shoulder blades off the ground, but be sure not to pull on your neck.<br>
            <strong>Step 3:</strong> Straighten your right leg out to about a 45-degree angle to the ground while turning your upper body to the left, bringing your right elbow towards the left knee. Make sure your rib cage is moving and not just your elbows.<br>
            <strong>Step 4:</strong> Now switch sides and do the same motion on the other side to complete one rep.<br>
            <strong>Step 5:</strong> Do three sets of 20 reps.<br></p></div>
        <div class="desc"><h2>3. Jogging</h2></div>
        <a href="/static/images/jogging.jpg"> <img src="/static/images/jogging.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Avoid hitting the ground heel first. This is bad for your knees. Instead, try to hit the ground with the flat of your foot or, ideally, on the front/balls of your feet.<br>
            <strong>Step 2:</strong> Bend your arms at a 90° angle.<br>
            <strong>Step 3:</strong> Keep your head straight. Don't look down any more than you have to.<br></p></div>
        <div class="desc"><h2>4. Lunge Twist</h2></div>
        <a href="/static/images/lunge-twist.jpg"> <img src="/static/images/lunge-twist.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> Stand straight with your feet hip-width apart and your arms lifted at the front.<br>
            <strong>Step 2:</strong> Take a step forward with your right leg, bend both knees and rotate your torso to the right.<br>
            <strong>Step 3:</strong> Return to the starting position and repeat the movement on the left side.<br>
            <strong>Step 4:</strong> Alternate sides until set is complete.<br></p></div>
        <div class="desc"><h2>5. Push-Ups</h2></div>
        <a href="/static/images/pushups.jpg"> <img src="/static/images/pushups.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> 
            Get down on all fours, placing your hands slightly wider than your shoulders.<br>
            <strong>Step 2:</strong> Straighten your arms and legs.<br>
            <strong>Step 3:</strong> Lower your body until your chest nearly touches the floor.<br>
            <strong>Step 4:</strong> Pause, then push yourself back up.<br></p></div>
        <div class="desc"><h2>6. Reverse Crunch</h2></div>
        <a href="/static/images/reverse_crunch.jpg"> <img src="/static/images/reverse_crunch.jpg"></a>
        <div class="desc"><p><strong>Step 1:</strong> To perform a reverse crunch, lie flat on your back with your hands beneath your hips.<br>
            <strong>Step 2:</strong> Bend your knees and lift them towards your head, drawing them upward slightly at the end of the movement.<br>
            <strong>Step 3:</strong> Lower your feet back down just above the floor to complete one repetition.<br></p></div>
        </div>
        <footer role="contentinfo">
            <div>
                <p>Mail us:
                <a href="mailto:raghavagarwal876@gmail.com">raghavagarwal876@gmail.com</a>
            </p>
            </div>
            <div>
                <p>Contact us:<br><br>
                        Raghav Das Singhal: <a href="tel:+8562874287"> 8562874287</a><br><br>
                        Tarun Chaudhary: <a href="tel:+8058800887"> 8058800887</a><br><br>
                        Samprass Gotherwaal: <a href="tel:+8079028460"> 8079028460</a><br><br>
            </div>
        </footer>
    </body>
</html>