<html>
    <head>
        <style>
            body{
                background-color: ghostwhite;
            }
            h1 {
                text-align: center ; color: black ; margin-top: 0%;
            }
            div.center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%; 
            } 
            footer {
                text-align: bottom;
                padding: 3px;
                background-color: black ;
                color: white;
        
            }
            img{
                height: 45%;
                width: 98%;
            }
        </style>
    </head>
    <body>
        <h1>Weight Gain Diet Tips</h1>
        <div class="center">
        <p><h2>Eat More Calories Than Your Body Burns</h2>
        <ul>
            <li>The most important thing you can do to gain weight is to create a calorie surplus, meaning you eat more calories than your body needs.</li><br>
            <li>If you want to gain weight slowly and steadily, aim for 300–500 calories more than you burn each day according to the calculator.</li><br>
            <li>If you want to gain weight fast, aim for around 700–1,000 calories above your maintenance level.</li><br>
            <li>Keep in mind that calorie calculators only provide estimates. Your needs may vary by several hundred calories per day, give or take.</li><br>
            <li>You don't need to count calories for the rest of your life, but it helps to do it for the first few days or weeks to get a feel for how many calories you’re eating.</li><br>
            <li>Don't drink water before meals. This can fill your stomach and make it harder to get in enough calories.</li><br>
            <li>Eat more often. Squeeze in an additional meal or snack whenever you can, such as before bed.</li><br>
            <li>Drink milk. Drinking whole milk to quench thirst is a simple way to get in more high-quality protein and calories.</li><br>
            <li>Try weight gainer shakes. If you’re really struggling then you can try weight gainer shakes. These are very high in protein, carbs and calories.</li><br>
            <li>Use bigger plates. Definitely use large plates if you’re trying to get in more calories, as smaller plates cause people to automatically eat less.</li><br>
            <li>Add cream to your coffee. This is a simple way to add in more calories.</li><br>
            <li>Take creatine. The muscle building supplement creatine monohydrate can help you gain a few pounds in muscle weight.</li><br>
            <li>Get quality sleep. Sleeping properly is very important for muscle growth.</li><br>
            <li>Eat your protein first and vegetables last. If you have a mix of foods on your plate, eat the calorie-dense and protein-rich foods first. Eat the vegetables last.</li><br>
            <li>Don't smoke. Smokers tend to weigh less than non-smokers, and quitting smoking often leads to weight gain.</li><br>
        </ul></p>
        </div>
        <div class="center"><img src="/static/images/tips_gain.jpg"></div><br><br>
        <h1>Lift Heavy Weights and Improve Your Strength</h1>
        <div class="center">
        <ul>
            <li>To make sure that the excess calories go to your muscles instead of just your fat cells, it’s absolutely crucial to lift weights.</li><br><br>
            <li>Go to a gym and lift 2–4 times per week. Lift heavy and try to increase the weights and volume over time.If you’re completely out of shape or new to training, consider hiring a qualified personal trainer to help you get started.</li><br><br>
            <li>If you’re completely out of shape or new to training, consider hiring a qualified personal trainer to help you get started.</li><br><br>
            <li>Doing some cardio is fine to improve fitness and well-being, but don't do so much that you end up burning all the additional calories you’re eating.</li><br><br>
        </ul>
        </div>
        <h1>Gaining Weight Can Be Difficult, and Consistency Is the Key to Long-Term Success</h1>
        <div class="center">
        <ul>
            <li>It can be very difficult for some people to gain weight.That's because your body has a certain setpoint of weight where it feels comfortable.</li><br><br>
            <li>Whether you try to go under your setpoint (lose weight) or over it (gain weight), your body resists changes by regulating your hunger levels and metabolic rate.</li><br><br>
            <li>When you eat more calories and gain weight, you can expect your body to respond by reducing your appetite and boosting your metabolism.</li><br><br>
            <li>At the end of the day, changing your weight is a marathon, not a sprint. It can take a long time, and you need to be consistent if you want to succeed in the long run.</li><br><br>
            <li>Eat Energy-Dense Foods and Use Sauces, Spices and Condiments</li><br><br>
        </ul>
        </div>
        <footer role="contentinfo">
            <div>
                <p>Mail us:
                <a href="mailto:raghavagarwal876@gmail.com">raghavagarwal876@gmail.com</a>
            </p>
            </div>
            <div>
                <p>Contact us:<br><br>
                        Raghav Das Singhal: <a href="tel:+8562874287"> 8562874287</a><br><br>
                        Tarun Chaudhary: <a href="tel:+8058800887"> 8058800887</a><br><br>
                        Samprass Gotherwaal: <a href="tel:+8079028460"> 8079028460</a><br><br>
            </div>
        </footer>
    </body>
</html>