<html>
    <head>
        <style>
            body{
                background-color: ghostwhite;
            }
            h1 {
                text-align: center ; color: black ; margin-top: 16%;
            }
            div{
                text-align: center;
            }   
            footer {
                text-align: bottom ;
                padding: 3px;
                background-color: black ;
                color: white;
        
            }
            
        </style>
    </head>
    <body>
        <h1>Weight Gain</h1>
        <div>
            <button type="button"><a href="/exwgain/">Exercises</a></button><br><br>
            <button type="button"><a href="/dietwgain/">Diet Chart</a></button><br><br>
            <button type="button"><a href="/tipwgain/">Tips</a></button><br><br>
        </div>
        <footer role="contentinfo">
            <div>
                <p>Mail us:
                <a href="mailto:raghavagarwal876@gmail.com">raghavagarwal876@gmail.com</a>
            </p>
            </div>
            <div>
                <p>Contact us:<br><br>
                        Raghav Das Singhal: <a href="tel:+8562874287"> 8562874287</a><br><br>
                        Tarun Chaudhary: <a href="tel:+8058800887"> 8058800887</a><br><br>
                        Samprass Gotherwaal: <a href="tel:+8079028460"> 8079028460</a><br><br>
            </div>
        </footer>
    </body>
</html>